# Игнорировать все файлы в проекте, которые заканчиваются на .pro.user
*.pro.user

# Игнорировать все файлы в проекте, которые заканчиваются на .bat
Application/*.bat

# Игнорировать все директории, которые начинаются на build (сборки проекта)
build*/

# Игнорировать директорию lib
lib*/

# Игнорировать директорию idea
.idea/